// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@300;700&family=Roboto:wght@900&display=swap');

.container {
  width: 100%;
}

li {
  list-style-type: none;
  background-color: rgba(76, 102, 250, 0.7);
  margin: 10px;
  padding: 16px;
  color: white;
  font-family: roboto, arial, helvetica;
  font-size: 26px;
  font-weight: 900;
  margin-left: 0;
}

ul {
  display: flex;
  margin-left: 0;
  padding-left: 0;
}
